<app-navbar [activeLink]="'movements'"></app-navbar>

<main class="container p-1">
  <div class="p-3 card shadow">
    <h2 class="title">Cadastro de Movimentação</h2>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-3 col-lg-2 mt-2">
          <label for="inputIdProduct">Id do produto:</label>
          <input
            id="inputIdProduct"
            class="form-control"
            type="number"
            name="inputIdProduct"
            (change)="findProductById()"
            formControlName="productId"
            [(ngModel)]="productId"
          />
        </div>
        <div class="col-md-9 col-lg-10 mt-2">
          <label for="inputProduct">Nome:</label>
          <input
            id="inputProduct"
            class="form-control"
            type="text"
            name="inputProduct"
            formControlName="productName"
            [(ngModel)]="productName"
            readonly
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-3 mt-2">
          <label for="inputBalanceProduct" class="me-1">Saldo:</label>
          <input
            id="inputBalanceProduct"
            class="form-control"
            type="number"
            name="inputBalanceProduct"
            formControlName="productCurrentBalance"
            [(ngModel)]="productCurrentBalance"
            readonly
          />
        </div>
        <div class="col-md-4 col-lg-3 mt-2">
          <label for="inputSelectTypeMovement">Tipo:</label>
          <select
            class="form-select"
            id="inputSelectTypeMovement"
            name="typeMovementSelect"
            type="number"
            formControlName="typeMovement"
            [(ngModel)]="typeMovementId"
            (change)="checkTypeMovement()"
          >
            <option *ngFor="let type of listTypeMovements" [ngValue]="type.id">
              {{ type.name }}
            </option>
          </select>
        </div>
        <div class="col-md-4 col-lg-3 mt-2">
          <label for="inputIdProduct">Quantidade:</label>
          <input
            [disabled]="!hasProduct"
            id="inputIdProduct"
            class="form-control"
            type="number"
            name="inputIdProduct"
            formControlName="quantityMovement"
            [(ngModel)]="quantityMovement"
            (change)="checkQuantity()"
          />
          <small class="text-danger" *ngIf="!isQuantityValid"
            >Quantidade superior ao saldo!</small
          >
        </div>
        <div class="col-md-4 col-lg-3 mt-2">
          <div class="">
            <label for="inputDateMovement">Data:</label>
          </div>
          <input
            class="form-control"
            id="inputDateMovement"
            type="date"
            name="date-movement"
            formControlName="dateMovement"
            [(ngModel)]="dateMovement"
            (change)="checkProductDate()"
          />
        </div>
        <div class="col-md-4 col-lg-2 mt-2">
          <label for="inputDocument">Documento:</label>
          <input
            id="inputDocument"
            class="form-control"
            type="number"
            name="inputDocument"
            formControlName="documentMovement"
            [(ngModel)]="documentMovement"
          />
        </div>
        <div class="col-md-4 col-lg-10 mt-2">
          <label for="inputReason">Motivo:</label>
          <input
            id="inputReason"
            class="form-control"
            type="text"
            name="inputReason"
            formControlName="reasonMovement"
            [(ngModel)]="reasonMovement"
          />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3 col-lg-2">
          <button
            [disabled]="form.invalid"
            class="mb-2 btn custom-btn btn-primary"
            type="submit"
            (click)="save()"
          >
            <i class="bi bi-sd-card text-white"></i>
            Salvar
          </button>
        </div>
        <div class="col-md-3 col-lg-2">
          <button routerLink="/movements" class="btn custom-btn btn-danger">
            <i class="bi bi-x-lg text-white"></i>
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</main>

<app-footer></app-footer>
