<div class="header justify-content-between row">
  <h2 class="title text-center">Lista de produtos</h2>
  <button class="btn btn-sm btn-success new-product">Novo produto</button>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Nome</th>
      <th>Código de barras</th>
      <th>Qtd. mínima</th>
      <th>Saldo</th>
      <th></th>
    </thead>

    <tbody>
      <tr *ngFor="let product of listProduct">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.hexCode}}</td>
        <td>{{product.minQuantity}}</td>
        <td>{{product.balance}}</td>
        <td><button class="btn btn-warning">Editar</button></td>
      </tr>
    </tbody>
  </table>
</div>
