<footer
  class="footer-container container-fluid d-flex justify-content-center bg-white text-dark"
>
  <div class="container p-4">
    <div class="row">
      <div class="col-md-4">
        <h5 class="text-uppercase mb-4 font-weight-bold">Varejonline S/A</h5>
        <p>
          Desafio desenvolvedor Varejonline, sistema de Controle de Estoque.
        </p>
      </div>
      <div class="col-md-4">
        <h5 class="text-uppercase mb-4 font-weight-bold">Links</h5>
        <p>
          <a class="footer-link text-dark" routerLink="">Home</a>
        </p>
        <p>
          <a class="footer-link text-dark" routerLink="/products">Produtos</a>
        </p>
        <p>
          <a class="footer-link text-dark" routerLink="/movements"
            >Movimentos</a
          >
        </p>
        <p>
          <a
            class="footer-link text-dark"
            href="https://www.varejonline.com.br/"
            target="_blank"
            >Site oficial</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h5 class="text-uppercase mb-4 fot-weight-bold">Contatos</h5>
        <p>
          <a
            class="footer-link text-dark"
            href="mailto:acs-03@hotmail.com"
            target="_blank"
            ><i class="bi bi-envelope-fill"></i> acs-03@hotmail.com</a
          >
        </p>
        <p>
          <a
            class="footer-link text-dark"
            href="https://github.com/augustocesarsousa"
            target="_blank"
            ><i class="bi bi-github"></i> /augustocesarsousa</a
          >
        </p>
        <p>
          <a
            class="footer-link text-dark"
            href="https://www.linkedin.com/in/augustocsousa/"
            target="_blank"
            ><i class="bi bi-linkedin"></i> /augustocsousa</a
          >
        </p>
      </div>
    </div>
    <div id="footer-bottom" class="mt-3 d-md-flex justify-content-between">
      <p>&copy; Todos os direitos reservados <strong>Augusto Cesar</strong></p>
      <p class="fst-italic">Seja hoje um pouco melhor do que foi ontem...</p>
    </div>
  </div>
</footer>
