.form-container{
  width: 100%;
}

.header {
  width: 100%;
}

.new-movement{
  height: 40px;
  width: 200px;
}

.custom-form{
  height: 40px;
  width: 180px;
}

.title {
  width: 258px;
  vertical-align: middle;
}

#movement-select-content{
  height: 35px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
