<app-navbar [activeLink]="'movements'"></app-navbar>

<main class="container p-1">
  <div class="p-3 card shadow">
    <h2 class="title mb-3">Movimentações</h2>
    <form [formGroup]="form" class="mb-5">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="row p-0 col-lg-6">
          <div class="d-flex flex-column mb-1 col-md-6">
            <label class="me-1" for="inputIdProduct">Id:</label>
            <input
              class="form-control me-1"
              id="inputIdProduct"
              type="number"
              formControlName="productId"
              [(ngModel)]="productId"
            />
          </div>
          <div class="d-flex flex-column mb-1 col-md-6">
            <label class="me-1" for="inputSelectTypeMovement">Tipo:</label>
            <select
              class="form-select me-1"
              id="inputSelectTypeMovement"
              name="typeMovementSelect"
              type="number"
              formControlName="typeMovement"
              [(ngModel)]="typeMovementId"
            >
              <option
                *ngFor="let type of listTypeMovements"
                [ngValue]="type.id"
              >
                {{ type.description }}
              </option>
            </select>
          </div>
        </div>
        <div class="row p-0 col-lg-6 ms-lg-2">
          <div class="d-flex flex-column mb-1 col-md-6">
            <div class="">
              <label class="me-1" for="inputStartDate">De:</label>
            </div>
            <input
              class="form-control"
              id="inputStartDate"
              type="date"
              name="start-date"
              formControlName="startDate"
              [(ngModel)]="startDate"
            />
          </div>
          <div class="d-flex flex-column mb-1 col-md-6">
            <div class="">
              <label class="me-1" for="inputEndDate">Até:</label>
            </div>
            <input
              class="form-control"
              id="inputEndDate"
              type="date"
              name="end-date"
              formControlName="endDate"
              [(ngModel)]="endDate"
            />
          </div>
        </div>
      </div>
      <div class="row mt-2 mt-lg-3 d-lg-flex justify-content-end">
        <div class="my-2 mt-3 col-md-4 col-lg-2 my-lg-0 d-flex align-items-end">
          <button class="btn custom-btn btn-info" (click)="createFilter(0, 5)">
            <i class="bi bi-search text-black"></i>
            Pesquisar
          </button>
        </div>
        <div class="my-2 mt-3 col-md-4 col-lg-2 my-lg-0 d-flex align-items-end">
          <button class="btn custom-btn btn-secondary" (click)="clear()">
            <i class="bi bi-file-earmark-fill text-white"></i>
            Limpar
          </button>
        </div>
        <div class="my-2 mt-3 col-md-4 col-lg-2 my-lg-0 d-flex align-items-end">
          <button class="btn custom-btn btn-primary" routerLink="create">
            <i class="bi bi-plus-lg text-white"></i>
            Adicionar
          </button>
        </div>
      </div>
    </form>
    <div class="table-responsive mt-2">
      <table class="table">
        <thead>
          <th>Data do Movimento</th>
          <th>Produto</th>
          <th>Tipo de Movimento</th>
          <th>Documento</th>
          <th>Motivo</th>
          <th>Quantidade</th>
          <th>Saldo</th>
          <th>Situação</th>
        </thead>
        <tbody>
          <tr *ngFor="let movement of page.content">
            <td>{{ movement.date | date : "dd-MM-yyyy" }}</td>
            <td>{{ movement.product.name }}</td>
            <td>{{ movement.typeMovement.description }}</td>
            <td>{{ movement.document }}</td>
            <td>{{ movement.reason }}</td>
            <td>{{ movement.quantity }}</td>
            <td>{{ movement.currentBalance }}</td>
            <td>{{ movement.situation }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<app-footer></app-footer>
