<div class="container">
  <h2 class="title">Cadastro de produto</h2>
  <form [formGroup]="form">
    <div class="row g-2 my-1">
      <div class="col-md-10 form-group">
        <label for="name">Nome</label>
        <input
          class="form-control"
          type="text"
          id="name"
          formControlName="name"
          [(ngModel)]="product.name"
        />
        <small *ngIf="isFormControlInvalid('name')" class="text-danger">Infome o nome do produto</small>
      </div>
    </div>
    <div class="row g-2 my-1">
      <div class="col-md-2">
        <label for="hexCode">Código de barras</label>
        <input
          class="form-control"
          type="text"
          id="hexCode"
          formControlName="hexCode"
          [(ngModel)]="product.hexCode"
        />
        <small *ngIf="isFormControlInvalid('hexCode')" class="text-danger">Informe um código de barras válido (13 dígitos)</small>
      </div>
      <div class="col-md-2">
        <label for="minQuantity">Quantidade mínima</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="minQuantity"
          formControlName="minQuantity"
          [(ngModel)]="product.minQuantity"
        />
        <small *ngIf="isFormControlInvalid('minQuantity')" class="text-danger">Informe uma quantidade válida</small>
      </div>
      <div class="col-md-2">
        <label for="balance">Saldo inicial</label>
        <input
          class="form-control"
          type="number"
          min="0"
          id="balance"
          formControlName="balance"
          [(ngModel)]="product.balance"
        />
        <small *ngIf="isFormControlInvalid('balance')" class="text-danger">Informe um saldo válido</small>
      </div>
    </div>
    <div class="my-2">
      <button
        [disabled]="form.invalid"
        class="btn buttons btn-primary"
        type="submit"
        (click)="save()"
      >Salvar</button>
      <button routerLink="/products" class="btn buttons btn-danger">Cancelar</button>
    </div>
  </form>
</div>
