<app-navbar [activeLink]="'products'"></app-navbar>

<main class="container p-1">
  <div class="p-3 card shadow">
    <div class="mb-3 d-flex justify-content-between">
      <h2 class="d-flex align-items-center justify-content-center">Produtos</h2>
      <button
        class="btn btn-primary d-flex align-items-center justify-content-center"
        *ngIf="hasRole('ROLE_MANAGER')"
        routerLink="create"
      >
        <i class="bi bi-plus-lg text-white"></i>
        &nbsp;Adicionar
      </button>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th>ID</th>
          <th>Nome</th>
          <th>Código de barras</th>
          <th>Qtd. mínima</th>
          <th>Saldo</th>
          <th></th>
        </thead>

        <tbody>
          <tr *ngFor="let product of listProducts">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.hexCode }}</td>
            <td>{{ product.minQuantity }}</td>
            <td>{{ product.balance }}</td>
            <td *ngIf="hasRole('ROLE_MANAGER')">
              <button
                class="btn btn-warning d-flex align-items-center justify-content-center"
                routerLink="edit/{{ product.id }}"
              >
                <i class="bi bi-pencil-square text-black"></i>
                &nbsp;Editar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<app-footer></app-footer>
